---

# FILE:            {{ role_path }}/tasks/rclone/install.yml
# LICENSE:         Public Domain
#
# SEE:             https://docs.ansible.com/ansible/latest/modules/package_module.html
# SEE:             Discussion about Rclone on Windows
#                  https://forum.rclone.org/t/how-to-install-rclone-on-windows-10/11928/2

# TODO: remove ignore_errors: true later (fititnt, 2020-01-01 10:45 BRT)
- name: "[a2s-extra] rclone | (*nix) install: generic package install rclone"
  package:
    name: "rclone"
    state: "present"
  ignore_errors: true
  when:
    - "(a2s_internal_iswindows is undefined)
      or (a2s_internal_iswindows|bool is sameas false)"