---

# FILE:            {{ role_path }}/tasks/hosts/main.yml
# LICENSE:         Public Domain
# SEE:             https://serverfault.com/questions/832799/ansible-add-ip-of-all-hosts-to-etc-hosts-of-all-other-hosts

- name: "hosts | main.yml"
  debug:
    msg: "This is a draft. Not implemented at the moment"

- name: "hosts | main.yml: load etc-hosts.yml ?"
  include: "{{ role_path }}/tasks/hosts/etc-hosts.yml"
  when:
    - "(albextras_hosts_etchosts is defined) and (albextras_hosts_etchosts[0] is defined)"

- name: "hosts | main.yml: load hostname.yml ?"
  include: "{{ role_path }}/tasks/hosts/hostname.yml"
  vars:
    albextras_hosts_hostname_rfc822: "{{ albextras_hosts_hostname | replace('_', '-') }}"
  when:
    - "(albextras_hosts_hostname is defined) and (albextras_hosts_hostname | length > 2)"

# - name: "etchosts | Add "
#   lineinfile:
#     dest: /etc/hosts
#     line: "{{ hostvars[item].ansible_host }} {{ hostvars[item].inventory_hostname }} {{ hostvars[item].inventory_hostname_short }}"
#     state: present
#   with_items: "{{ groups.all }}"